Repository RoboCupAtHome/RuleBook, pull requests merged in 2018-05, with the labels that each got.

#446 Fix an issue with the penalty applied for not attending
  general_rules/PenaltiesBonuses.tex
Labels: General Rules, bug

#435 Roughly predefine table location & type
  tests/StoringGroceries.tex
Labels: Test: Storing Groceries

#447 Explicitely specifiy "announce bar location" in OC instructions
  tests/CocktailParty.tex
Labels: Test: Cocktail Party, bug

#439 Remove PDF report from Storing Groceries as it is irrelevant
  tests/StoringGroceries.tex
Labels: Test: Storing Groceries

#449 Add examples for alternate solution scoring in GPSR and EEGPSR
  tests/EEGPSR_appendix.tex
  tests/GPSR_appendix.tex
Labels: Test: EEGPSR, Test: GPSR

#452 Update rules for test moderation (LOC in charge)
  general_rules/Procedure.tex
Labels: General Rules, enhancement

#459 Add "anounce the robot's initial position" to OC tasks in GPSR
  tests/GPSR.tex
Labels: Test: GPSR
